player-connection-mode=Listen
player-connection-guid=2906734432
player-connection-debug=0
player-connection-project-name=CW2-gameDesign
player-connection-ip=192.168.1.221
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8f568efe6add4b3dabc76a121b361093
